<!doctype html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="~/css/home_style.css" />
    </head>
    <body>
        <div class="wrap-container">
            <div class="container-fluid wrap-info">
                <div class="row justify-content-center">
                    <div class="col col-8">
                        <div class="icon"></div>
                        <h1 class="mb-3 fw-semibold lh-1 info">Get on board with
                            knowledge at Book Station!</h1>
                        <p class="lead mb-4 info fw-normal">The book review community is a group of
                            passionate readers who share recommendations and feedback about
                            book. Joining this
                            community connects you with like-minded individuals and helps you
                            discover new books to read.</p>
                        <a class="btn btn-info btn-login" asp-controller="Login" asp-action="Index">Login</a>
                        <div class="sign-up"><a href="#" class="sign-up-link">Sign up</a></div>
                        <div class="contact-us"><a href="https://www.facebook.com/profile.php?id=100005208558613" target="popup" class="contact-us-link">contact us</a></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>